<% @opponents.each do |opponent| %>
    <p><strong><%= opponent.name %></strong></p>
    <p>Vie <strong><%= opponent.lp %></strong></p>
    <p>Attaque <strong><%= opponent.attack %></strong></p>

    <%= form_for :fight, url: fights_path, method: :post do |f| %>
        <%= f.hidden_field :character_id, value: @character.id %>
        <%= f.hidden_field :opponent_id, value: opponent.id %>
        <%= f.submit "Défier" %>
    <% end %>
<% end %>