<div class="flex justify-content-evenly flex-wrap">
    <% character.get_opponents.each do |opponent| %>
        <div class="card margin-1" style="width: 13rem;">
            <% if opponent.image.attached? %>
                <%= image_tag opponent.image, style: "width: 200px; display: block; align-self:center;" %>
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= opponent.name %></h5>
                <p class="card-text"><strong>Vie </strong><%= opponent.true_lp %></p>
                <p class="card-text"><strong>Attaque </strong><%= opponent.true_attack %></p>
                <p class="card-text"><strong>Défense </strong><%= opponent.defense %></p>
                <% if opponent.equipped_weapon.present? %>
                    <p class="card-text"><%= opponent.equipped_weapon.name %> (<%= opponent.equipped_weapon.attack %> Atk)</p>
                <% else %>
                    <p class="card-text">Pas d'arme</p>
                <% end %>
                <% if opponent.equipped_shield.present? %>
                    <p class="card-text"><%= opponent.equipped_shield.name %> (<%= opponent.equipped_shield.lp %> LP)</p>
                <% else %>
                    <p class="card-text">Pas de bouclier</p>
                <% end %>
                <%= form_tag(new_fight_path, method: :get) do %>
                    <%= hidden_field_tag :character_id, character.id %>
                    <%= hidden_field_tag :opponent_id, opponent.id %>
                    <%= submit_tag "Taper", class: "btn btn-fight" %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>