<div class="flex justify-content-evenly">
    <% character.get_opponents.each do |opponent| %>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= opponent.name %></h5>
                <p class="card-text"><strong>Vie </strong><%= opponent.lp %></p>
                <p class="card-text"><strong>Attaque </strong><%= opponent.attack %></p>
                <% if opponent.equipped_weapon.present? %>
                    <p class="card-text"><%= opponent.equipped_weapon.name %> (<%= opponent.equipped_weapon.attack %> Atk)</p>
                <% else %>
                    <p class="card-text">Pas d'arme</p>
                <% end %>
                <% if opponent.equipped_shield.present? %>
                    <p class="card-text"><%= opponent.equipped_shield.name %> (<%= opponent.equipped_shield.lp %> LP)</p>
                <% else %>
                    <p class="card-text">Pas de bouclier</p>
                <% end %>
                <%= form_tag(new_fight_path, method: :get) do %>
                    <%= hidden_field_tag :character_id, character.id %>
                    <%= hidden_field_tag :opponent_id, opponent.id %>
                    <%= submit_tag "Taper" %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>